[Desktop Entry]
Encoding=UTF-8
Name=Link to Sports Stress Ball, Mini Foam Sports Ball, Foam Sports Ball for School Carnival Reward, Party Bag Gift Fillers (Colorful Soccer Ball, 30 Pieces)
Type=Link
URL=https://www.amazon.com/Sports-Stress-Carnival-Fillers-Colorful/dp/B0811SFFH8/ref=sr_1_15?dchild=1&keywords=stress+ball+pack+soccer+football&qid=1587106299&sr=8-15
Icon=text-html
