
  body {
    background:#303030;
    margin:0;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding:0;
    font-family:sans-serif;
  }

  #buttonConfigurationContainer {
    top:15pt;right:15pt;
    opacity:0.5;
    z-index:50000;
    position:fixed;
  }

  #remoteVideo {
    position:fixed;
    z-index:100;
    object-fit:cover;
    width:100%;height:100%;top:0;left:0;
  }
  #localVideo {
    object-fit:cover;
    width:100%;height:100%;top:0;left:0;
    opacity:1.0;
  }

  #panelLocalVideo {
        z-index:25;
        background:#404040;
        width:100%;
        height:100%;
        top:0;
        left:0;
        position:fixed;
        opacity:0.3;
  }

  #panelConfiguration {
    background:#404040;
    z-index:10000;
    padding:20pt;
    color:#ffffff;
    display:none;
    background:#303030;
    position:fixed;top:0;left:0;width:100%;height:100%;
  }

  #botNumDisplay {
      position:fixed;
      top: 15pt;
      left:15pt;
      padding:0;
      margin:0;
      z-index:1000;
      font-family:sans-serif;
      font-size:40pt;
      line-height:1em;
      vertical-align:middle;
      font-weight:bold;
      opacity:0.3;
      color:#ffffff;
  }
